{% extends "base_auth.html" %}

{% block head %}
    <link href="{{url_for('static', path='/css/collections.css')}}" rel="stylesheet"/>
{% endblock %}

{% block content %}
    <h2 class="text-center mb-5">Плейлисты</h2>

    <div class="container mb-5">
      <div class="row align-items-center col-12">
          <div class="col-md-4">
              <div class="card mb-4 d-flex align-items-center" style="border: none;">
                  <!-- SVG для плюсовой карточки -->
                  <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" style="max-height: 280px; background-color: rgb(49, 49, 49); border-radius: 15px; cursor: pointer;" id="add_playlist" class="bi bi-plus" viewBox="-8 -8 32 32">
                      <path d="M8 1a1 1 0 0 1 1 1v5h5a1 1 0 0 1 0 2H9v5a1 1 0 0 1-2 0V9H2a1 1 0 0 1 0-2h5V2a1 1 0 0 1 1-1z" style="color: grey;" class="plus_"/>
                  </svg>
                    <h5 class="card-title" style="color:white;">'</h5>
              </div>
          </div>
          {% for playlist in playlists %}
              
              <div class="col-md-4">
                  <div class="card mb-1 d-flex align-items-center" style="border: none;">
                      <img src="{{ url_for('static', path=playlist.cover) }}" class="card-img-top mx-0" style="max-height: 280px; max-width: 280px; border-radius: 15px;" alt="...">
                      <div class="card-body text-center">
                          <h5 class="card-title">{{ playlist.name }}</h5>
                          <a href="/collections/{{ username }}/playlist/{{ playlist.id }}" class="stretched-link"></a>
                      </div>
                  </div>
              </div>
      
          {% endfor %}
      </div>
  </div>
  
  <h2 class="text-center mb-5">Также вам понравилось</h2>
  <div class="container mb-5">
    <div class="row align-items-center col-12">

        {% for playlist in playlists %}
            {% if playlist.is_liked == True %}
              <div class="col-md-4">
                  <div class="card mb-1 d-flex align-items-center" style="border: none;">
                      <img src="{{ url_for('static', path=playlist.cover) }}" class="card-img-top mx-0" style="max-height: 280px; max-width: 280px; border-radius: 15px;" alt="...">
                      <div class="card-body text-center">
                          <h5 class="card-title">{{ playlist.name }}</h5>
                          <a href="/collections/{{ username }}/playlist/{{ playlist.id }}" class="stretched-link"></a>
                      </div>
                  </div>
              </div>
            {% endif %}
        {% endfor %}

        {% if favorite_playlists_couter == 0 %} 
          <h4 class="text-center mb-5" style="font-weight: 100;">Пока пусто</h4>
        {% endif %}
    </div>
  </div>


  <script>
    add_playlist_button = document.getElementById('add_playlist');
    add_playlist_button.addEventListener('click', function() {
      fetch("/collections/{{username}}/playlist/new", {
        method: "POST"
      })
      .then(response => {
        if (response.ok) {
          // Перенаправляем пользователя на текущую страницу после успешного добавления плейлиста
          window.location.href = window.location.href;
        } else {
          console.error('Failed to add playlist.');
        }
      })
      .catch(error => {
        console.error('Error:', error);
      });
    });
  </script>

{% endblock %}